# created by virtualenv automatically
bin/
env/
*.pyc
lib/
share/
etc/
pyvenv.cfg
latex_code/
src/airflow/logs/
UFCStats_Crawlers/build/
UFCStats_Crawlers/project.egg-info/
UFCStats_Crawlers/setup.py
UFCStats_Crawlers/setup_backup.py
UFCStats_Crawlers/*.egg
src/machine_learning/results